<div class="flex">
  <p class="mt-12 text-slate-500 text-sm">
    دیوار مشهد - نیازمندی‌ های رایگان، آگهی‌های خرید، فروش نو و دست دوم و
    کارکرده، استخدام و خدمات
  </p>
</div>
<div class="grid grid-cols-3 mt-4 gap-3 h-[250px]">
  <div *ngFor="let item of Result" class="">
    <a href="/product?product={{ item.slug }}">
      <div
        class="border rounded-lg p-3 flex justify-between gap-4 items-center"
      >
        <div class="Right flex flex-col items-start gap-3">
          <span class="Title font-bold">{{ item.tittle }}</span>
          <div class="text-right">
            <span class="discription text-sm text-slate-500">{{
              shortText(item.discription)
            }}</span>
          </div>
          <span class="price text-sm text-slate-500"
            >{{ item.price | number }} تومان</span
          >
          <span class="place text-sm text-slate-500">{{ item.place }}</span>
        </div>
        <div class="Left">
          <img
            class="rounded-xl w-[136px] h-[136px] object-cover"
            src="{{ item.img }}"
            alt=""
          />
        </div>
      </div>
    </a>
  </div>
</div>
