<div class="flex flex-col items-start">
  <div class="">
    <p class="mt-12 text-slate-500 text-sm ">دیوار مشهد - نیازمندی‌ های رایگان، آگهی‌های خرید، فروش نو و دست دوم و کارکرده، استخدام و خدمات</p>
  </div>
  <div class="flex gap-5">
    <div class="flex border rounded-lg p-3 gap-3 items-center mt-3">
      <div class="Right flex flex-col items-start gap-5">
        <span class="Title font-bold ">۱۲۵متر-صفر-۱۲واحدی</span>
        <span class="discription text-sm text-slate-500">رهن کامل</span>
        <span class="price text-sm text-slate-500">ودیعه: ۴۵۰,۰۰۰,۰۰۰ تومان</span>
        <span class="place text-sm text-slate-500">مشاور دهقان در الهیه</span>
      </div>
      <div class="Left">
        <img  src="../../../assets/img/picture_Orginal.webp" alt="">
      </div>
    </div>
    <div class="flex border rounded-lg p-3 gap-3 items-center mt-3">
      <div class="Right flex flex-col items-start gap-5">
        <span class="Title font-bold ">۱۲۵متر-صفر-۱۲واحدی</span>
        <span class="discription text-sm text-slate-500">رهن کامل</span>
        <span class="price text-sm text-slate-500">ودیعه: ۴۵۰,۰۰۰,۰۰۰ تومان</span>
        <span class="place text-sm text-slate-500">مشاور دهقان در الهیه</span>
      </div>
      <div class="Left">
        <img  src="../../../assets/img/picture_Orginal.webp" alt="">
      </div>
    </div>
    <div class="flex border rounded-lg p-3 gap-3 items-center mt-3">
      <div class="Right flex flex-col items-start gap-5">
        <span class="Title font-bold ">۱۲۵متر-صفر-۱۲واحدی</span>
        <span class="discription text-sm text-slate-500">رهن کامل</span>
        <span class="price text-sm text-slate-500">ودیعه: ۴۵۰,۰۰۰,۰۰۰ تومان</span>
        <span class="place text-sm text-slate-500">مشاور دهقان در الهیه</span>
      </div>
      <div class="Left">
        <img  src="../../../assets/img/picture_Orginal.webp" alt="">
      </div>
    </div>
  </div>
</div>