<div class="flex">
  <p class="mt-12 text-slate-500 text-sm">
    دیوار مشهد - نیازمندی‌ های رایگان، آگهی‌های خرید، فروش نو و دست دوم و
    کارکرده، استخدام و خدمات
  </p>
</div>
<div class="grid grid-cols-3 mt-4 gap-3">
  <div *ngFor="let item of Result" class="">
    <div class="border rounded-lg p-3 items-center flex gap-3">
      <div class="Right flex flex-col items-start gap-5">
        <span class="Title font-bold">{{ item.tittle }}</span>
        <span class="discription text-sm text-slate-500">{{
          item.discription
        }}</span>
        <span class="price text-sm text-slate-500">{{ item.price }}</span>
        <span class="place text-sm text-slate-500">{{ item.place }}</span>
      </div>
      <div class="Left">
        <img
          src="{{ item.img }}"
          alt=""
          style="width: 200px; height: 200px; object-fit: contain"
        />
      </div>
    </div>
  </div>
</div>
