<div class="container_new border shadow-xl p-3">
  <div class="flex flex-col">
    <div class="flex items-center justify-between">
      <h3 class="font-bold">ورود به حساب کاربری</h3>
      <a href="/">
        <img class="h-[30px]" src="../../assets/img/xmark-solid.svg" alt="" />
      </a>
    </div>
    <hr class="mt-10" />
    <div class="mt-10 flex font-bold">
      <h3>شمارهٔ موبایل خود را وارد کنید</h3>
    </div>
    <div class="flex flex-col items-start mt-10 text-slate-400">
      <span>قبل از ثبت آگهی، لطفاً وارد حساب خود شوید.</span>
      <span>کد تأیید به این شماره پیامک می‌شود.</span>
    </div>
    <div class="flex mt-4 items-center justify-center">
      <input
        class="border px-36 py-2 rounded-lg outline-none"
        type="text"
        placeholder="شماره موبایل "
      />
    </div>
    <div class="flex mt-4 mb-4">
      <span class="text-red-700 font-bold"
        >شرایط استفاده از خدمات و حریم خصوصی دیوار را می‌پذیرم.</span
      >
    </div>
    <div class="">
      <button
        class="bg-red-800 text-white font-bold py-2 px-4 border border-blue-700 rounded"
      >
        تائید
      </button>
    </div>
  </div>
</div>
